# Assignment_2

## Question_1

In [28]:
Use the link :"https://www.goodreads.com/quotes"
Get the Html file grabs and scrape all the details for each posting.

SyntaxError: invalid syntax (3992976013.py, line 1)

In [73]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
from collections import OrderedDict

In [78]:
def scrape_quotes(url):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        quotes = soup.find_all('div', class_='quote')
        data = []
        for quote in quotes:
            quote_text = quote.find('div', class_='quoteText').text.strip().split('\n')[0]
            author = quote.find('span', class_='authorOrTitle').text.strip()
            tags = [tag.text.strip() for tag in quote.find_all('a', class_='smallText')]
            data.append({'Quote': quote_text, 'Author': author, 'Tags': tags})
        return data
    else:
        print("Failed to retrieve page:", url)
        return None

In [81]:
base_url = 'https://www.goodreads.com/quotes?page='


num_pages = 5


all_quotes = []

In [82]:
for page_num in range(1, num_pages+1):
    page_url = base_url + str(page_num)
    quotes_data = scrape_quotes(page_url)
    if quotes_data:
        all_quotes.extend(quotes_data)

In [89]:
quotes_df = pd.DataFrame(all_quotes)
quotes_df.head(10)

,Quote,Author,Tags
0,“Be yourself; everyone else is already taken.”,Oscar Wilde,[171126 likes]
1,"“I'm selfish, impatient and a little insecure....",Marilyn Monroe,[162489 likes]
2,"“So many books, so little time.”",Frank Zappa,[146151 likes]
3,“Two things are infinite: the universe and hum...,Albert Einstein,[145517 likes]
4,“A room without books is like a body without a...,Marcus Tullius Cicero,[132838 likes]
5,"“Be who you are and say what you feel, because...",Bernard M. Baruch,[128266 likes]
6,“You've gotta dance like there's nobody watchi...,William W. Purkey,[126736 likes]
7,“You know you're in love when you can't fall a...,Dr. Seuss,[124575 likes]
8,"“You only live once, but if you do it right, o...",Mae West,[116863 likes]
9,“Be the change that you wish to see in the wor...,Mahatma Gandhi,[112968 likes]

## Question_2

## Analyza Startup_funding dataset and answer all questions.

* **How Does the Funding Ecosystem changes with respect to Time?**
* **What is the General Amount that Startups get in India?**
* **Which Kind of Industries are more preferred for Startups?**
* **Does Location also play a role, In determining the Growth of a Startup?**
* **Who plays the main role in Indian Startups Ecosystem?**
* **What are the different Types of Funding for Startups?**

## Lets Install the Libraries

In [90]:
# install these libraries given below to run the program successfully, 
# if already installed ignore.
#pip install numpy
#pip install pandas
#pip seaborn
#pip matplotlib

In [91]:

import numpy as np 


import pandas as pd 


import matplotlib.pyplot as plt
import seaborn as sns

## Reading the data

In [94]:
df= pd.read_csv('startup_funding.csv')
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [99]:
df.dtypes

Sr No                 int64
Date dd/mm/yyyy      object
Startup Name         object
Industry Vertical    object
SubVertical          object
City  Location       object
Investors Name       object
InvestmentnType      object
Amount in USD        object
Remarks              object
dtype: object

In [101]:
df['Date dd/mm/yyyy'] = pd.to_datetime(df['Date dd/mm/yyyy'], format='%d/%m/%Y')
df['Date dd/mm/yyyy'] = df['Date dd/mm/yyyy'].dt.year
funding_by_year = df.groupby('Year').size()

ValueError: time data "05/072018" doesn't match format "%d/%m/%Y", at position 121. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.