In [136]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [137]:
df = pd.read_csv('geo_data_final_exam.csv')
df.head(10)

,Rock_Type,Formation_Type,Mineral_Content,Hardness_Scale,Area_Sq_km,Density,Porosity_Percentage,Sample_Location,Depth_m,Erosion_Rate_mm_per_yr
0,Igneous,Sediment,5.784515,39.711199,632.885320,13.323064,181.916536,Basalt,228.282566,0.964557
1,Sedimentary,Volcanic,0.677462,78.390548,969.582372,47.121781,147.096760,Basalt,37.078126,1.274159
2,Igneous,Plutonic,5.760768,28.423273,970.212944,35.874286,122.153118,Granite,208.526413,2.272705
3,Sedimentary,Sediment,4.379791,37.273675,935.799579,16.596357,8.287226,Basalt,120.252046,4.461519
4,Sedimentary,Plutonic,7.903404,64.846836,962.170775,5.310093,182.309260,Granite,110.654758,0.705346
5,Metamorphic,Plutonic,4.740026,42.848215,116.452281,12.389823,148.454314,Granite,6.902263,1.602432
6,Igneous,Plutonic,1.338878,2.521017,857.388057,30.866241,33.985732,Basalt,230.631667,4.295075
7,Metamorphic,Plutonic,9.668006,93.456037,921.547548,0.390511,117.802698,Limestone,76.989785,1.709386
8,Igneous,Sediment,5.646472,31.803029,153.666543,22.224686,99.019265,Granite,296.929652,2.701584
9,Igneous,Volcanic,0.423879,30.115520,851.893845,32.984775,165.336606,Basalt,198.087276,1.392113

In [138]:

#1425 rows and ten columns
df.shape

(1425, 10)

In [139]:
print(df['Rock_Type'].unique())
print(df['Formation_Type'].unique())
print(df['Sample_Location'].unique())

['Igneous' 'Sedimentary' 'Metamorphic']
['Sediment' 'Volcanic' 'Plutonic']
['Basalt' 'Granite' 'Limestone']

In [140]:
df = pd.get_dummies(df,dtype=int,columns=['Rock_Type','Formation_Type','Sample_Location'])
df.head()

,Mineral_Content,Hardness_Scale,Area_Sq_km,Density,Porosity_Percentage,Depth_m,Erosion_Rate_mm_per_yr,Rock_Type_Igneous,Rock_Type_Metamorphic,Rock_Type_Sedimentary,Formation_Type_Plutonic,Formation_Type_Sediment,Formation_Type_Volcanic,Sample_Location_Basalt,Sample_Location_Granite,Sample_Location_Limestone
0,5.784515,39.711199,632.885320,13.323064,181.916536,228.282566,0.964557,1,0,0,0,1,0,1,0,0
1,0.677462,78.390548,969.582372,47.121781,147.096760,37.078126,1.274159,0,0,1,0,0,1,1,0,0
2,5.760768,28.423273,970.212944,35.874286,122.153118,208.526413,2.272705,1,0,0,1,0,0,0,1,0
3,4.379791,37.273675,935.799579,16.596357,8.287226,120.252046,4.461519,0,0,1,0,1,0,1,0,0
4,7.903404,64.846836,962.170775,5.310093,182.309260,110.654758,0.705346,0,0,1,1,0,0,0,1,0

In [141]:


columns = ['Rock_Type_Igneous', 'Rock_Type_Metamorphic', 'Rock_Type_Sedimentary']
label = df[columns]
df = df.drop(columns, axis=1)

df.head()

,Mineral_Content,Hardness_Scale,Area_Sq_km,Density,Porosity_Percentage,Depth_m,Erosion_Rate_mm_per_yr,Formation_Type_Plutonic,Formation_Type_Sediment,Formation_Type_Volcanic,Sample_Location_Basalt,Sample_Location_Granite,Sample_Location_Limestone
0,5.784515,39.711199,632.885320,13.323064,181.916536,228.282566,0.964557,0,1,0,1,0,0
1,0.677462,78.390548,969.582372,47.121781,147.096760,37.078126,1.274159,0,0,1,1,0,0
2,5.760768,28.423273,970.212944,35.874286,122.153118,208.526413,2.272705,1,0,0,0,1,0
3,4.379791,37.273675,935.799579,16.596357,8.287226,120.252046,4.461519,0,1,0,1,0,0
4,7.903404,64.846836,962.170775,5.310093,182.309260,110.654758,0.705346,1,0,0,0,1,0

In [146]:
train_df= df.sample(frac=0.75, random_state=42)
test_df = df.drop(train_df.index)

train_df.head()

,Mineral_Content,Hardness_Scale,Area_Sq_km,Density,Porosity_Percentage,Depth_m,Erosion_Rate_mm_per_yr,Formation_Type_Plutonic,Formation_Type_Sediment,Formation_Type_Volcanic,Sample_Location_Basalt,Sample_Location_Granite,Sample_Location_Limestone
628,1.040975,82.525654,9.822662,43.656557,21.299508,37.710286,3.748753,1,0,0,1,0,0
680,3.776683,48.563824,261.294615,18.016680,118.193134,67.357160,2.150499,0,0,1,1,0,0
1085,8.551797,34.169628,104.150782,25.405348,8.063943,48.239047,4.497025,0,1,0,0,0,1
578,4.474143,67.812233,374.148159,28.489687,99.840422,183.806444,2.325069,0,0,1,0,0,1
1010,9.959029,77.859682,840.826817,23.574294,75.735930,81.455161,2.706685,0,0,1,0,0,1

In [148]:
from sklearn.tree import DecisionTreeClassifier

entr = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=42)
entr.fit = (train_df)

pred = entr.predict(test_df)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.